* {
  box-sizing: border-box;
}
body {
  margin: 0 0 0 0;
  display: grid;
  grid-template-rows: 60px auto 60px;
  height: 100vh;
}
main {
  background-color: black;
  overflow-y: auto;
  display: grid;
  grid-gap: 20px;
  height: 100%;
}
header {
  justify-content: center;
  display: grid;
}

h1 {
  justify-content: center;
  background-color: yellow;
  padding: 10px;
  margin: 0;
  border-bottom: 6px solid black;
}

.body {
}

.card-set {
  background-color: yellow;
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
  flex-direction: column;
  border-radius: 8px;
}

.button {
  justify-content: center;
  background-color: black;
  color: yellow;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  display: block;
  align-self: center;
}

.ul-card {
  list-style: none;
  display: flex;
  justify-content: center;
}

.tag {
  padding: 3px;
  padding: 0.3em;
  border-radius: 10px;
  margin: 4px;
  background-color: black;
  color: yellow;
}

.bookmarks {
}
